body{
    font-family: 'Ubuntu', sans-serif;
}

.nav-n li {
    list-style: none;
    display: inline;
    padding: 12px 30px;
}
.nev-items{
    box-sizing: border-box;
    float: right;
    width: 100%;
    margin-top: 30px;
}
.nav-n a{
    text-decoration: none;
    color: #f30000;
}
.img-logo{
    width: 30%;
}
.logo {
    margin-top: 10px;
}
.container{
    margin-bottom: 70px;
}
.banner{
    width: 90%;
}
.btn a{
    text-decoration: none;
    color: white;

}
.btn:hover{
    background-color: rgb(48, 184, 48);
}
header{
    background-color: rgb(248, 255, 242);
    padding: 25px 0px;
}
.p-1{
    color: #ff6767;
    font-weight: 600;
}
.p-2{
    color: rgb(131, 131, 131);
}
.h-1{
    font-weight: 900;
    font-size: 50px;
    color: rgb(54, 54, 54);
}
.h-2{
    font-weight: 900;
    font-size: 50px;
    color: rgb(72, 192, 72);
}
.btn{
    background-color: rgb(28, 148, 28);
    border-radius: 50px;
    border: none;
    padding: 10px 30px;
    font-size: 17px;
}
.contact{
    background-color: rgb(72, 192, 72);
    border-radius: 33px;
}
.contact a{
    color: white ;
}
.img-size{
    width: 100%;
}

.img-1{
    width: 40%;
}
.img-2{
    width: 50%;
}
.img-3{
    width: 45%;
}
.img-4{
    width: 47%;
}
.card {
    border: none ;
    background-color: rgb(252, 255, 249);
    padding: 30px 0;
}
.card-2{
    background-color: white;
    box-shadow: 0 0 15px rgb(212, 212, 212);
}
main{
    margin-top: 80px;
}
.icons{
    margin-bottom: 8%;
}
.title{
    text-align: center;
    margin-bottom: 3%;
    color: rgb(0, 0, 78);
}
.title h1{
    font-weight: 900;
    font-size: 47px;
}
.card-body a{
    font-size: 19px;
}

.exe {
    background-color: white;
    box-shadow: 0 0 15px rgb(240, 240, 240);
    padding: 25px 25px;
}
.btn-2{
    padding: 6px 28px ;
}

.man-div{
    /* position: relative;
    left: 230px;
    top: -40px; */
}
.man{
    width: 40%;
}
.last-title{
    text-align: center;
    margin-bottom: 2%; 
    margin-top: 10%;
}
.last-title h1{
    font-size: 45px;
    font-weight: 700;
}
.last-pera{
    color: black;
    font-size: 22px;
    position: relative;
    top: 38px;
    left: 30px;
}
footer{
    background-color: rgba(10, 10, 19, 0.9);
    color: rgb(209, 209, 209);
}
footer ul{
    list-style: none;
}

footer ul li{
    padding: 7px 0;
}

.footer-1 {
    padding: 70px 0;
    font-size: 22px;
}

.footer{
    display: grid;
    grid-template-columns: 480px 250px 250px 250px;
}

.lists{
    padding: 80px 0;
    font-size: 19px;
}
.last-span{
    font-size: 19px;
    color: rgb(185, 185, 185);
    padding: 10px 0;
    margin-bottom: 30px;
}
.img-x2 img{
    width: 17%;
    height: 80%;
}